<app-menu></app-menu>

<router-outlet></router-outlet>







<!-- primer uso de los elementos de PrimeNg -->
<!-- <div class="font-color">

  <h1>Franco Rodriguez</h1>
  
  <button pButton label="soy un Boton" class="p-button-help" icon="pi pi-check" iconPos="right"></button>
  

  <p-card [header]="nombre | titlecase">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Eveniet eos sapiente vel vero repudiandae soluta ab accusantium, ipsum voluptatem tempora veritatis
     sunt facere vitae, porro consequuntur aliquam, beatae totam dicta!
  </p-card>

</div> -->